body {
  margin: auto;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
}
header {
  background-color: #797a5b;
  height: 150px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 10px #28291e;
}
.logo {
  width: 480px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 100px;
  height: 100px;

  background-color: #797a5b;
}
.navigation {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}
.navigation ul li a {
  text-decoration: none;
  color: #f3deaa;
  font-size: 20px;
}
.formPhoto {
  width: 480px;
}
.box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.formBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 15%;

  .formTable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }
  input {
    border: none;
    height: 40px;
    width: 450px;
    background-color: #f8f8f8;
    color: #6e6e54;
    border-bottom: 1px solid #bebebb;
    font-family: "Inter", sans-serif;
  }
  input[type="text"]:focus {
    border-color: #bb0593;
  }
  .textDescription {
    background-color: #f8f8f8;
    border: none;
    color: #6e6e54;
    font-family: "Inter", sans-serif;
  }
  h2 {
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
  }
}
.addButton {
  width: 115px;
  height: 50px;
  border-radius: 2px;
  color: #f3deaa;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  background-color: #797b48;
}
.photoBox {
  height: 550px;
  background-color: #c2c3a6;
}

footer {
  background-color: #797a5b;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  color: #f3deaa;
  
 
  h2 {
    font-family: "inter";
    font-size: 30px;
    font-weight: normal;
  }
  .footerText {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .love {
    position: absolute;
    top: 60px;
  }
  .logoFooter {
    padding-right: 25px;
  }
}
.mobileMenu{
  display: none;
  position: fixed;
  width: 100%;
  left: -100%;
  transition: 0.4s;
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    a{
      text-decoration: none;
      color: #f3deaa;}
  }
}
.burgerMenu{
 all: unset;
 display: none;
 cursor:pointer;
}
.burgerMenu:hover svg path,.burgerMenu:hover svg ellipse{
  fill: #f3deaa;
  opacity: 70%;
  stroke: none;
  transition:ease-in-out 1s;
 }
.active{
  left: 0;
}

@media  screen and (max-width: 768px){
  .navigation {
    display: none;
  }
  .burgerMenu{
   display: inline-block;
   
   }
   
   .logo{
    width: 50%;
   }
   .mobileMenu{
    display: inline-block;
    background-color: #797a5b;
   }
   
}